<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>ボックス</h1>
<%= link_to "登録", new_pokemon_path %>
<div id="pokemons">
  <% @pokemons.each do |pokemon| %>
    <p>
      <span><%= pokemon.pokedex_number %>:</span>
      <%= link_to "#{pokemon.name}", pokemon, target: "_blank" %>
      <img src="<%= pokemon.image_url %>" alt="<%= pokemon.image_url %>の画像" height="16" width="16" />
    </p>
  <% end %>
</div>
