<% if notice %>
  <div class="bg-green-100 border-l-4 border-green-500 text-green-700 p-4">
    <p><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 p-4">
    <p><%= alert %></p>
  </div>
<% end %>

<div class="flex justify-center my-4">
  <h1 class="text-2xl font-bold text-gray-800">ポケモン一覧</h1>
</div>
<div class="flex justify-center my-4">
  <%= link_to "登　録", new_pokemon_path, class: "text-xl text-white bg-blue-500 hover:bg-blue-600 font-bold py-2 px-4 rounded" %>
</div>
<div class="container mx-auto px-4">
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
    <% @pokemons.each do |pokemon| %>
      <div class="bg-white rounded-lg shadow overflow-hidden">
        <p class="text-gray-600 pl-2 pt-2">No.<%= pokemon.pokedex_number %></p>
        <%= link_to pokemon, target: "_blank" do %>
          <img class="w-full" src="<%= pokemon.image_url %>" alt="<%= pokemon.image_url %>の画像">
        <% end %>
        <div class="p-4">
          <h2 class="text-xl font-bold text-gray-800"><%= pokemon.name %></h2>
          <div class="flex justify-center pt-2">
            <%= link_to "交換", edit_pokemon_path(pokemon), class: "text-sm bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2 rounded mr-2" %>
            <%= link_to "逃す", pokemon_path(pokemon), data: { turbo_method: "delete", turbo_confirm: "本当に#{pokemon.name}を逃しますか？" }, class: "text-sm bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="flex justify-center my-4">
  <%= link_to "HOME", root_path, class: "text-xl text-white bg-yellow-500 hover:bg-yellow-600 font-bold py-2 px-4 rounded" %>
</div>
