<p style="color: green"><%= notice %></p>
<p style="color: red"><%= alert %></p>

<h1>ボックス</h1>
<%= link_to "登録", new_pokemon_path %>
<div id="pokemons">
  <% @pokemons.each do |pokemon| %>
    <p>
      <span><%= pokemon.pokedex_number %>:</span>
      <%= link_to "#{pokemon.name}", pokemon, target: "_blank" %>
      <img src="<%= pokemon.image_url %>" alt="<%= pokemon.image_url %>の画像" height="20" width="20" />
      <%= link_to "交換", edit_pokemon_path(pokemon) %>
      <%= link_to "逃す", pokemon_path(pokemon), data: { turbo_method: "delete", turbo_confirm: "本当に逃しますか？" } %>
    </p>
  <% end %>
</div>
<%= link_to "HOME", root_path %>
