<div class="container mx-auto p-4">
  <% if notice %>
    <p class="bg-green-100 border-green-500 text-green-700 p-2"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="bg-red-100 border-red-500 text-red-700 p-2"><%= alert %></p>
  <% end %>

  <div class="flex justify-center my-4">
    <h1 class="text-2xl font-bold text-gray-800">ポケモン一覧</h1>
  </div>
  <div class="flex justify-center my-4">
    <%= link_to "登　録", new_pokemon_path, class: "text-xl text-white bg-blue-500 hover:bg-blue-600 font-bold py-2 px-4 rounded" %>
  </div>
  <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
    <% @pokemons.each do |pokemon| %>
      <div class="bg-white rounded-lg shadow pb-4">
        <%= link_to pokemon, target: "_blank" do %>
        <div class="flex justify-between items-center px-2 pt-2">
          <p class="text-gray-600">No.<%= pokemon.pokedex_number %></p>
          <svg class="w-6 h-6 text-gray-600 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 18">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 12.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Z"/>
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 3h-2l-.447-.894A2 2 0 0 0 12.764 1H7.236a2 2 0 0 0-1.789 1.106L5 3H3a2 2 0 0 0-2 2v11a1 1 0 0 0 1 1h16a1 1 0 0 0 1-1V5a2 2 0 0 0-2-2Z"/>
          </svg>
        </div>
          <img src="<%= pokemon.image_url %>" alt="<%= pokemon.name %>の画像">
          <h2 class="text-xl font-bold pt-4 pl-4"><%= pokemon.name %></h2>
        <% end %>
        <div class="flex justify-center pt-2">
          <%= link_to "交換", edit_pokemon_path(pokemon), class: "text-sm bg-green-500 hover:bg-green-600 text-white font-bold py-1 px-2 rounded mr-2" %>
          <%= link_to "逃す", pokemon_path(pokemon), data: { turbo_method: "delete", turbo_confirm: "本当に#{pokemon.name}を逃しますか？" }, class: "text-sm bg-red-500 hover:bg-red-600 text-white font-bold py-1 px-2 rounded" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="flex justify-center my-4">
  <%= link_to "HOME", root_path, class: "text-xl text-white bg-yellow-500 hover:bg-yellow-600 font-bold py-2 px-4 rounded" %>
</div>
